$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1200px;
$desktop-min: 1201px;

$color-fb: #3b5998;
$color-4y: #336699;
$color-black: #000;
$color-white: #fff;
$color-red: #c10000;
$color-gray: #666;
$color-silver: #ccc;
$color-silver-lite: #eee;
