@import "./vendor/normalize.min.css";
@import "./_animate.scss";
@import "./_fixes.scss";
@import "./_fonts.scss";
@import "./_mixins.scss";
@import "./_variables.scss";

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

body,
html {
  position: relative;
  height: 100%;
  background: $color-black;
  color: $color-white;
  font-family: $font-stack;
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
}

a,
a:link {
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    outline: none;
    text-decoration: none;
  }
}
